
/*#newDiv {
	padding: 10px;
	background: linear-gradient(to top, #77ad70 20%, #c4e0c0 80%);
	height: 500px;
	width: 320px;
	border-radius: 15px;
	border: 7px solid #59875f;
	margin: 7px solid #5a7a55/
	text-align: center;
	-webkit-perspective: 600px;
	display: flex;
	justify-content: space-between;
	flex: 1;
}*/

#pokemon {
	/*max-height: 1000px;*/
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	/*justify-content: center;*/
	/*flex: 1;*/
}

/*#card {
	padding: 10px;
	background: linear-gradient(to top, #77ad70 20%, #c4e0c0 80%);
	height: 500px;
	width: 320px;
	border-radius: 15px;
	border: 7px solid #59875f;
	margin: 7px solid #5a7a55/
	text-align: center;
	-webkit-perspective: 600px;
	display: flex;
	justify-content: space-between;
	flex: 1;
}*/

#front {
	background: linear-gradient(to top, #77ad70 20%, #c4e0c0 80%);
}

#back {
	background: linear-gradient(to top, #3b3f44 20%, #d2d4d8 80%);
	/*border: 7px solid #3e4042;*/
}

.images {
	height: 500px;
	width: 320px;
}

.name {
	font-size: 20px;
	font: 'Tahoma';
}

/*.hp {

}

.attack {

}

.sprites {

}

.abilities {

}

.defense {

}*/

/*
padding: 10px;
	background-color: #eaa941;
	background: linear-gradient(to top, #e28928 20%, #efd8bf 80%);
	height: 500px;
	width: 320px;
	border-radius: 10px solid;
	text-align: center;
	flex: 1;

/*#poke2 {
	padding: 10px;
	background: linear-gradient(to top, #3b3f44 20%, #d2d4d8 80%);
	height: 500px;
	width: 320px;
	border-radius: 10px;
	text-align: center;
	flex: 1;
}

#poke3 {
	padding: 10px;
	background: linear-gradient(to top, #434547 20%, #d6d7d8 80%);
	height: 500px;
	width: 320px;
	border-radius: 10px;
	text-align: center;
	flex: 1;
}

#image1 {
	margin-top: 15px;
	mix-blend-mode: multiply;
	border: 10px solid orange;
}

#image2 {
	margin-top: 15px;
	mix-blend-mode: multiply;
	border: 10px solid #33312f;
}

#image3 {
	margin-top: 15px;
	width: 250px;
	height: 200px;
	mix-blend-mode: multiply;
	border: 10px solid #33312f;
}
*/



/*#leftPanel {
	position: relative;
	display: inline-block;
	width: 350px;
	height: 500px;
	background-color: red;
	margin-left: 100px;
	margin-top: 50px;
	border-radius: 20px;
	z-index: 0;
}*/

